meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=0')
meta(name='description', content= page.intro ? page.intro : config.meta_description)
meta(name='author', content= config.author)
meta(name='keywords', content= theme.keywords)

title= page.title ? page.title + ' | ' + config.title : config.title

// Bootstrap Core CSS
link(rel='stylesheet', type='text/css', href= config.root + 'styles/bootstrap.min.css')

// Custom Theme CSS
link(rel='stylesheet', type='text/css', href= config.root + 'styles/clean-blog.min.css')

// Custom Fonts
link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')

// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
<![endif]-->

link(rel='apple-touch-icon', sizes='57x57', href= config.root + 'img/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href= config.root + 'img/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href= config.root + 'img/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href= config.root + 'img/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href= config.root + 'img/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href= config.root + 'img/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href= config.root + 'img/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href= config.root + 'img/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href= config.root + 'img/apple-icon-180x180.png')

link(rel='icon', type='image/png', sizes='16x16', href= config.root + 'img/favicon-16x16.png')
link(rel='icon', type='image/png', sizes='32x32', href= config.root + 'img/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href= config.root + 'img/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='160x160', href= config.root + 'img/favicon-160x160.png')
link(rel='icon', type='image/png', sizes='192x192', href= config.root + 'img/favicon-192x192.png')
link(rel='manifest', href='/img/manifest.json')

meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content= config.root + 'img/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')

if config.rss
  link(rel='alternate', type='application/rss+xml', title='RSS', href= config.rss)
if config.feed && config.feed.type == 'rss'
  link(rel='alternate', type='application/rss+xml', title='RSS', href= config.feed.path)
if config.feed && config.feed.type == 'atom'
  link(rel='alternate', type='application/atom+xml', title='Atom 0.3', href= config.feed.path)
